#root {
  max-width: 1920px;
  margin: 0 auto;

  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-class {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  /* gap-2 */
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  /* shadow-xl */
  font-size: 1.125rem;
  /* text-lg */
  background-color: #f9fafb;
  /* bg-gray-50 */
  backdrop-filter: blur(10px);
  /* backdrop-blur-md */
  font-weight: 600;
  /* lg:font-semibold (adjust based on your media query) */
  border-color: #f9fafb;
  /* border-gray-50 */
  position: relative;
  padding: 0.5rem 1rem;
  /* px-4 py-2 */
  border-width: 2px;
  /* border-2 */
  border-radius: 9999px;
  /* rounded-full */
  overflow: hidden;
  z-index: 10;
  /* relative z-10 */
}

.nav-class::before {
  content: '';
  position: absolute;
  width: 100%;
  transition: all 0.7s;
  aspect-ratio: 1;
  /* before:aspect-square */
  left: -100%;
  /* before:-left-full */
  background-color: #34d399;
  /* before:bg-emerald-500 */
  border-radius: 9999px;
  /* before:rounded-full */
  z-index: -10;
  /* before:-z-10 */
}

.nav-class:hover {
  color: #f9fafb;
  /* hover:text-gray-50 */
}

.nav-class:hover::before {
  width: 100%;
  left: 0;
  /* before:hover:left-0 */
  scale: 1.5;
  /* before:hover:scale-150 */
}

.nav-class:hover::before {
  transition-duration: 0.7s;
  /* before:hover:duration-700 */
}

.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}