#root {
  max-width: 1920px;
  margin: 0 auto;

  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-class {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  /* gap-2 */
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  /* shadow-xl */
  font-size: 1.125rem;
  /* text-lg */
  /* background-color: #ecfeff; */
  /* bg-gray-50 */
  backdrop-filter: blur(10px);
  /* backdrop-blur-md */
  font-weight: 600;
  /* lg:font-semibold (adjust based on your media query) */
  /* border-color: #ecfeff; */
  /* border-gray-50 */
  position: relative;
  padding: 0.5rem 1rem;
  /* px-4 py-2 */
  /* border-width: 1px; */
  /* border-2 */
  border-radius: 9999px;
  /* rounded-full */
  overflow: hidden;
  z-index: 10;
  /* relative z-10 */
}

.nav-class::before {
  content: '';
  position: absolute;
  width: 100%;
  transition: all 0.7s;
  aspect-ratio: 1;
  /* before:aspect-square */
  left: -100%;
  /* before:-left-full */
  background-color: #30718b;
  /* before:bg-emerald-500 */
  border-radius: 9999px;
  /* before:rounded-full */
  z-index: -10;
  /* before:-z-10 */
}

.nav-class:hover {
  color: #cfe7f3;
  /* hover:text-gray-50 */
}

.nav-class:hover::before {
  width: 100%;
  left: 0;
  /* before:hover:left-0 */
  scale: 1.5;
  /* before:hover:scale-150 */
}

.nav-class:hover::before {
  transition-duration: 0.7s;
  /* before:hover:duration-700 */
}

.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

.hero-bg {

  background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
}

@keyframes wave {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  100% {
    transform: rotate(0.0deg)
  }
}

.card-anime {
  background: rgb(223, 225, 235);
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}